.default-header {
    background-color: #132235;
    padding: 0 10px;
    margin: -70px -8px 0;
    color: #adbac7;
    border-bottom: 10px solid;
    border-color: #adbac7;
}

.default-header-name {
    color: #adbac7;
    font-weight: bold;
    font-family: OpenSans, sans-serif;
    padding-top: 50px;
    font-size: 90px;
    text-align: center;
}

.default-header-navbar {
    box-sizing: inherit;
    /*background-color: #d79742;*/
    background-color: #706966;
    display: flex;
    width: auto;
    min-height: 50px;
    align-items: center;
    text-transform: uppercase;
    position: relative;
    color: #d79742;
    padding: 12px;
    margin-right: -10px;
    margin-left: -10px;
}

.default-header-navbar-button {
    background-color: #132235;
    border: none;
    color: #adbac7;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 20px;
    font-family: OpenSans, sans-serif;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}