.default-header {
    position: sticky;
    top: 0;
    margin: -8px -8px -8px;
    border-bottom: 10px solid;
    border-color: #adbac7;
    background-color: #132235;
    color: #adbac7;
}

.default-header-name {
    padding-top: 10px;
    margin: 10px;
    text-align: center;
    color: #adbac7;
    font-weight: bold;
    font-family: OpenSans, sans-serif;
    font-size: 50px;
}

.default-header-navbar {
    /*padding: 12px;*/
    display: flex;
    width: auto;
    margin-right: -10px;
    margin-left: -10px;
    /*background-color: #d79742;*/

    align-items: center;
    text-transform: uppercase;
    /*position: relative;*/
    color: #d79742;
    background-color: #706966;
}

.default-header-navbar-button {
    background-color: #132235;
    border: none;
    color: #adbac7;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 20px;
    font-family: OpenSans, sans-serif;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}