.main-section {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    margin: 20px;
    padding: 20px;
    text-align: left;
    text-indent: 10px;
    white-space: normal;
    font-family: "OpenSans", sans-serif;
}

.main-section-text {
    line-height: normal;
    letter-spacing: normal;
}

.main-section-header {
    font-family: "OpenSans", sans-serif;
}

.main-section-gallery {
    margin: 0 20px 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.main-section-gallery-picture {
    margin: 10px;
    flex: 2;
    height: 600px;
    overflow: hidden;
}

.gallery_image {
    z-index: 1;
    height: auto;
    object-fit: cover;
}

@media screen and (max-width: 1250px) {
    .main-section .main-section-gallery {
        display: none;
    }
}

.table{
    margin: 20px auto;
}

.grid-table {
    display: grid;
    border-width: 1px;
    border-style: solid;
    border-color: beige;
    grid-template-columns: 1fr 1fr;
}

thead, tbody, tr {
    display: contents;
}

.grid-table-row-field {
    padding: 10px;
    text-align: center;
}

.grid-table-row:nth-of-type(odd) .grid-table-row-field {
    background-color: #354457;
}

.grid-table-row:nth-of-type(even) .grid-table-row-field {
    background-color: #22272e;
}

.grid-table-header-style {
    background-color: #3b4e90;
    text-align: center;
    border-bottom: 1px solid beige;
}